[submodule "libraries/libnbtplusplus"]
	path = libraries/libnbtplusplus
	url = https://github.com/PrismLauncher/libnbtplusplus.git

[submodule "3rdparty/PrismLauncher-Themes"]
	path = 3rdparty/PrismLauncher-Themes
	url = https://github.com/PrismLauncher/Themes.git
